<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/edit.css">
    <link rel="icon" href="/assets/favicon.svg">
    <script type="text/javascript" src="/utilities/setTheme.js" defer></script>
    <title><%- title %></title>
</head>
<body>
    <a name="top" class="topAnchor"></a>
    <header>
        <%- include("partials/header") %>
    </header>
    <main>
        <div class="titleContainer">
            <h1 class="title"><%- title %></h1>
        </div>
        <% if (locals.pokemon) { %>
            <form action="/edit/<%- pokemon.id %>" method="POST" class="editItemForm">
                <div class="formItem">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" minlength="3" maxlength="12" value=<%= pokemon.name %> required/>
                </div>
                <div class="formItem">
                    <label for="generation">Generation: </label>
                    <select name="generation" id="generation" value=<%= pokemon.generation %> required>
                        <option value="1" <% if (pokemon.generation === 1) { %>selected<% } %>>1</option>
                        <option value="2" <% if (pokemon.generation === 2) { %>selected<% } %>>2</option>
                        <option value="3" <% if (pokemon.generation === 3) { %>selected<% } %>>3</option>
                        <option value="4" <% if (pokemon.generation === 4) { %>selected<% } %>>4</option>
                        <option value="5" <% if (pokemon.generation === 5) { %>selected<% } %>>5</option>
                        <option value="6" <% if (pokemon.generation === 6) { %>selected<% } %>>6</option>
                        <option value="7" <% if (pokemon.generation === 7) { %>selected<% } %>>7</option>
                        <option value="8" <% if (pokemon.generation === 8) { %>selected<% } %>>8</option>
                        <option value="9" <% if (pokemon.generation === 9) { %>selected<% } %>>9</option>
                    </select>
                </div>
                <div class="formItem">
                    <label for="pokedex_number">Pok&#233dex number: </label>
                    <input type="number" name="pokedex_number" id="pokedex_number" min="1" max="1025" value=<%= pokemon.pokedex_number %> required />
                </div>
                <div class="formItem">
                    <label for="type1">Type 1: </label>
                    <select name="type1" id="type1" required>
                        <option value="1" <% if (pokemon.type1 === 1) { %>selected<% } %>>Normal</option>
                        <option value="2" <% if (pokemon.type1 === 2) { %>selected<% } %>>Fighting</option>
                        <option value="3" <% if (pokemon.type1 === 3) { %>selected<% } %>>Flying</option>
                        <option value="4" <% if (pokemon.type1 === 4) { %>selected<% } %>>Poison</option>
                        <option value="5" <% if (pokemon.type1 === 5) { %>selected<% } %>>Ground</option>
                        <option value="6" <% if (pokemon.type1 === 6) { %>selected<% } %>>Rock</option>
                        <option value="7" <% if (pokemon.type1 === 7) { %>selected<% } %>>Bug</option>
                        <option value="8" <% if (pokemon.type1 === 8) { %>selected<% } %>>Ghost</option>
                        <option value="9" <% if (pokemon.type1 === 9) { %>selected<% } %>>Steel</option>
                        <option value="10" <% if (pokemon.type1 === 10) { %>selected<% } %>>Fire</option>
                        <option value="11" <% if (pokemon.type1 === 11) { %>selected<% } %>>Water</option>
                        <option value="12" <% if (pokemon.type1 === 12) { %>selected<% } %>>Grass</option>
                        <option value="13" <% if (pokemon.type1 === 13) { %>selected<% } %>>Electric</option>
                        <option value="14" <% if (pokemon.type1 === 14) { %>selected<% } %>>Psychic</option>
                        <option value="15" <% if (pokemon.type1 === 15) { %>selected<% } %>>Ice</option>
                        <option value="16" <% if (pokemon.type1 === 16) { %>selected<% } %>>Dragon</option>
                        <option value="17" <% if (pokemon.type1 === 17) { %>selected<% } %>>Dark</option>
                        <option value="18" <% if (pokemon.type1 === 18) { %>selected<% } %>>Fairy</option>
                        <option value="19" <% if (pokemon.type1 === 19) { %>selected<% } %>>Stellar</option>
                        <option value="20" <% if (pokemon.type1 === 20) { %>selected<% } %>>Unknown</option>
                    </select>
                </div>
                <div class="formItem">
                    <label for="type2">Type 2: </label>
                    <select name="type2" id="type2" value=<%= pokemon.type2 %>>
                        <option value="0" <% if (pokemon.type2 === 0) { %>selected<% } %>></option>
                        <option value="1" <% if (pokemon.type2 === 1) { %>selected<% } %>>Normal</option>
                        <option value="2" <% if (pokemon.type2 === 2) { %>selected<% } %>>Fighting</option>
                        <option value="3" <% if (pokemon.type2 === 3) { %>selected<% } %>>Flying</option>
                        <option value="4" <% if (pokemon.type2 === 4) { %>selected<% } %>>Poison</option>
                        <option value="5" <% if (pokemon.type2 === 5) { %>selected<% } %>>Ground</option>
                        <option value="6" <% if (pokemon.type2 === 6) { %>selected<% } %>>Rock</option>
                        <option value="7" <% if (pokemon.type2 === 7) { %>selected<% } %>>Bug</option>
                        <option value="8" <% if (pokemon.type2 === 8) { %>selected<% } %>>Ghost</option>
                        <option value="9" <% if (pokemon.type2 === 9) { %>selected<% } %>>Steel</option>
                        <option value="10" <% if (pokemon.type2 === 10) { %>selected<% } %>>Fire</option>
                        <option value="11" <% if (pokemon.type2 === 11) { %>selected<% } %>>Water</option>
                        <option value="12" <% if (pokemon.type2 === 12) { %>selected<% } %>>Grass</option>
                        <option value="13" <% if (pokemon.type2 === 13) { %>selected<% } %>>Electric</option>
                        <option value="14" <% if (pokemon.type2 === 14) { %>selected<% } %>>Psychic</option>
                        <option value="15" <% if (pokemon.type2 === 15) { %>selected<% } %>>Ice</option>
                        <option value="16" <% if (pokemon.type2 === 16) { %>selected<% } %>>Dragon</option>
                        <option value="17" <% if (pokemon.type2 === 17) { %>selected<% } %>>Dark</option>
                        <option value="18" <% if (pokemon.type2 === 18) { %>selected<% } %>>Fairy</option>
                        <option value="19" <% if (pokemon.type2 === 19) { %>selected<% } %>>Stellar</option>
                        <option value="20" <% if (pokemon.type2 === 20) { %>selected<% } %>>Unknown</option>
                    </select>
                </div>
                <div class="formItem">
                    <label for="rarity">Rarity: </label>
                    <select name="rarity" id="rarity" value=<%= pokemon.rarity %> required>
                        <option value="common" <% if (pokemon.rarity === 'common') { %>selected<% } %>>Common</option>
                        <option value="legendary" <% if (pokemon.rarity === 'legendary') { %>selected<% } %>>Legendary</option>
                        <option value="mythical" <% if (pokemon.rarity === 'mythical') { %>selected<% } %>>Mythical</option>
                    </select>
                </div>
                <div class="formItem">
                    <label for="shiny">Shiny: </label>
                    <% if (!pokemon.shiny) { %>
                        <input type="checkbox" name="shiny" id="shiny"/>
                    <% } else { %>
                        <input type="checkbox" name="shiny" id="shiny" checked/>
                    <% } %>
                </div>
                <div class="formItem">
                    <label for="price">Price: </label>
                    <input type="number" name="price" id="price" min="1" max="999999" value=<%= pokemon.price %> required/>
                </div>
                <button type="submit" class="submitFormButton">Submit</button>
                <input type="reset" value="Reset" class="resetFormButton">
            </form>
            <form action="/delete/<%= pokemon.id %>" method="POST" class="deleteItemForm">
                <button type="submit" onclick="return confirm('Are you sure you want to delete this Pok&#233mon?');" class="deleteItemButton">Delete</button>
            </form>
        <% } else { %>
            <div class="noResultsContainer">Item not found.</div>
        <% } %>
        <a href="/">Back to home</a>
    </main>
    <footer>
        <a href="#top" class="linkToTop">Back to top</a>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>