<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/search.css">
    <link rel="icon" href="/assets/favicon.svg">
    <script type="text/javascript" src="/utilities/setTheme.js" defer></script>
    <title><%- title %></title>
</head>
<body>
    <a name="top" class="topAnchor"></a>
    <header class="header">
        <%- include("partials/header") %>
    </header>
    <main>
        <div class="titleContainer">
            <h1 class="title"><%- title %></h1>
        </div>
        <% if (locals.results.length > 0) { %>

            <ul class="resultsItemContainer">
                <% results.forEach((pokemon) => { %>
                    <li class="inventoryItem">
                        <div class="itemImageWrapper">
                            <a href="/view/<%- pokemon.id %>" class="imageWrapperViewLink">
                                <img src="<%= pokemon.image %>" alt="<%= pokemon.name %> image">
                            </a>
                        </div>
                        <div class="itemDetailsWrapper">
                            <p>Name: <%= pokemon.name %></p>
                            <p>Pok&#233dex number: <%= pokemon.pokedex_number %></p>
                            <p>Type: <span class="typeContainer <%= pokemon.type1 %>"><%= pokemon.type1 %></span> <% if (pokemon.type2) { %> <span class="typeContainer <%= pokemon.type2 %>"><%= pokemon.type2 %></span> <% } %></p>
                            <p>Price: <%= pokemon.price %></p>
                        </div>
                        <div class="itemControls">
                            <a href="/view/<%- pokemon.id %>" class="viewLink">View details</a>
                            <a href="/edit/<%- pokemon.id %>" class="editLink">Edit</a>
                            <form action="/delete/<%= pokemon.id %>" method="POST">
                                <button type="submit" onclick="return confirm('Are you sure you want to delete this Pok&#233mon?');" class="deleteButton"><u>Delete</u></button>
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No items found.</p>
        <% } %>
        <a href="/">Back to home</a><br>
    </main>
    <footer>
        <a href="#top" class="linkToTop">Back to top</a>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>