<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%- title %></title>
</head>
<body>
    <%- include("partials/navBar") %>
    <%- include("partials/searchBar.ejs") %>
    <% if (locals.results) { %>
        <ul>
            <% results.forEach((pokemon) => { %>
                <li>
                    <p>Name: <%= pokemon.name %></p>
                    <p>Pok&#233dex number: <%= pokemon.pokedex_number %></p>
                    <p>Type: <%= pokemon.type1 %> <% if (pokemon.type2) { %> <%= pokemon.type2 %> <% } %></p>
                    <p>Price: <%= pokemon.price %></p>
                </li>
                <a href="/view/<%- pokemon.id %>">View details</a>
                <a href="/edit/<%- pokemon.id %>">Edit</a>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Item not found.</p>
    <% } %>
</body>
</html>